.vlt
src/main/content/jcr_root/.content.xml
src/main/content/jcr_root/apps/.content.xml
src/main/content/jcr_root/content/.content.xml
src/main/content/jcr_root/content/dam/.content.xml
src/main/content/jcr_root/content/dam/cqcon-village/.content.xml
src/main/content/jcr_root/etc/.content.xml
src/main/content/jcr_root/etc/designs/.content.xml